<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="container">
        <h1>Add blogs</h1>
        <p>Welcome <b><%= username %></b></p>
        <nav style="margin-bottom: 10px;">
            <a href="/">view Blogs</a>
            <a href="/logout">log out</a>
        </nav>

        <Form action="/success" method="post">
            <label for="username">Blog Author</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="title">Title of post</label>
            <input type="text" id="title" name="title">
            <br>
            <label for="body">Body of post</label>
            <textarea name="body" id="body"></textarea>
            <br>
            <input type="submit">
        </Form>

    </div>
</body>
</html>