body{
    background-color: lavender;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    margin-bottom: 0;
    text-align: center;
}
.index-nav{
    display: flex;
}
.menu{
     display: flex;
}
.menu{
    margin-left: 10px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
form{
    border: 5px solid silver;
    padding: 10px;
    box-sizing: border-box;
}
label, input, textarea {
    display: block;
    width: 100%;
}
@media screen and (min-width: 560px){
    .container{
        width: 70%;
        margin: 0 auto;
    }
}
.posts{
    background-color: whitesmoke;
    padding: 1px 10px;
    margin: 10px 0;
}
.noBold{
    font-weight: normal;
}
h1, h2, h3, a, label{
    text-transform: uppercase;
    font-family: 'Quicksand';
}
p, input, textarea{
    font-size: 1.1rem;
    font-family: 'poppins';
}
a{
    text-decoration: none;
    background-color: goldenrod;
    margin-bottom: 10px;
    display: block;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 236, 236);
    font-weight: bold;
}